{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/Usuario.css' %}">
</head>
<body>
<div class="main">
  <div id="box">
     <div id="logo">
        <a target='_blank'><img src='https://i.postimg.cc/t4b0jRGc/logo2.png' border='0' alt='logo2'/></a>
       </div>
      <div id="usuario">
          <h1>¡BIENVENIDO!</h1>
          <h2>{{user}}</h2>
       </div>
      <div class="btn">
        <a href="{% url 'juego:juego' %}">JUGAR</a>
        <a href="{% url 'juego:misestadisticas' %}">MIS ESTADISTICAS</a>
        </div>
        <div id="logout" data-tooltip="CERRAR SESIÓN">
        <a href="{% url 'usuarios:logout'%}" align="center"><img src='https://i.postimg.cc/CzzWp3JY/Logout.png' border='0' alt='Logout'/></a>
     </div>
    </div>
   
   <div class="socials">
       <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2FPregunchaco.com" target="_blank" rel="noopener">FACEBOOK</a>
       <a href="#">INSTAGRAM</a>
       <a href="https://twitter.com/intent/tweet?text=PregunChaco.com" data-size="large" target="_blank">TWITTER</a>
      </div>
    </div>
</body>
</html>