{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/Misestadisticas.css' %}">
</head>
<body>
	<div id="box">
     <div id="logo">
        <a target='_blank' align="center"><img src='https://i.postimg.cc/t4b0jRGc/logo2.png' border='0' alt='logo2'/></a>
       </div>
      <div id="score">
          <h1>RANKING DE JUGADORES: </h1>
        </div>
        <div id="barra">
        </div>
        
      <div id="tops">
          <p>PRIMER LUGAR<scan> {{ranking.0}}</scan>{{ranking.1}}</p>
          <p>SEGUNDO LUGAR<scan>{{ranking.2}}</scan>{{ranking.3}}</p>
          <p>TERCER LUGAR<scan>{{ranking.4}}</scan>{{ranking.5}}</p>
        </div>
      <div id="barra">
        </div>
      <div id="btn">
        <input type=button value="ATRAS" ad onClick="javascript:history.go(-1);">
        </div>
    </div>
</div>
   
</body>
</html>