{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/TopEstadisticas.css' %}">
</head>
<body>
	<div id="box">
     <div id="logo">
        <a target='_blank' align="center"><img src="{% static 'img/logo2.png' %}" border='0' alt='logo2'/></a>
       </div>
      <div id="score">
          <h1>TOP JUGADORES</h1>
        </div>
        <div id="barra">
        </div>
      <div id="tops">
          <p><img src="{% static 'img/Oro.png' %}" border='0' alt='Oro'/>{{ranking.0}}<oro>{{ranking.1}}</oro></p>

          <p><img src="{% static 'img/Plata.png' %}" border='0' alt='Plata'/>{{ranking.2}}<plata>{{ranking.3}}</plata></p>

          <p><img src="{% static 'img/Bronce.png' %}" border='0' alt='Bronce'/>{{ranking.4}}<bronce>{{ranking.5}}</bronce></p>
        </div>
      <div id="barra">
        </div>
      <div id="btn">
        <input type=button value="ATRAS" ad onClick="javascript:history.go(-1);">
        </div>
    </div>
</div>
   
</body>
</html>