@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  height:100vh;
  background: rgb(72,157,228);
  background: linear-gradient(0deg, rgba(72,157,228,1) 0%, rgba(13,222,235,1) 100%);
  background-position: center;
  font-family: "Poppins", Arial;
}

#box{
  display:flex;
  flex-direction: column;
  align-items:center;
  margin: 9% auto;
  padding: 5% 0 0;
  width: 590px;
  height: 530px;
  background: rgb(193,106,213);
  background: linear-gradient(0deg, rgba(193,106,213,1) 0%,       rgba(53,37,175,1) 100%);
  border-radius: 20px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#logo{
  display: flex;
  justify-content: center;
}
#logo img{
  width: 390px;
  margin-top: -210px;
}
#logout img{
  animation: none;
  width: 63px;
  position: absolute;
  top: 14px;
  right: 14px;
  transition: 0.5s;
}
#logout img:hover{
  width: 65px;
}

h1{
  border-box: 10px;
  text-shadow: 2px 0 0 #FFD12B, -2px 0 0 #FFD12B, 0 2px 0 #FFD12B, 0 -2px 0 #FFD12B, 1px 1px #FFD12B, -1px -1px 0 #FFD12B, 1px -1px 0 #FFD12B, -1px 1px 0 #FFD12B;
  color: #FF5758;
  font-size: 40px;
  padding: 11px;
}

#informacion{
  margin-top: -110px;
  height: 80%;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#informacion p{
  width: 85%;
  color: white;
  font-size: 25px;

}
#informacion scan{
  color: #FFD12B;
}

.btn{
  margin-top: -20px;
  text-align: center;
  width: 100%;
  padding: 25px 60px;
  cursor: pointer;
  display: block;
  background: rgb(255,114,119);
  background: linear-gradient(0deg, rgba(255,114,119,1) 0%, rgba(249,81,154,1) 100%);
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
}
a{
  text-decoration: none;
  font-size: 22px;
}
.btn:hover{
  background: rgb(247,115,33);
  background: linear-gradient(0deg, rgba(247,115,33,1) 0%, rgba(250,208,91,1) 100%);
  color: white;
  transform: translateY(-2px);
}

