@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
*{
  margin: 0;
  padding: 0;
  cursor: url('/static/img/cursor.png'),auto;
  
}

body{
  height: 300%;
  background: rgb(72,157,228);
  background: linear-gradient(0deg, rgba(72,157,228,1) 0%, rgba(13,222,235,1) 100%);
  background-position: center;
  font-family: "Poppins", Arial;
}

#box{
  margin: 7% auto;
  padding: 5% 0 0;
  width: 530px;
  height: 630px;
  background: rgb(193,106,213);
  background: linear-gradient(0deg, rgba(193,106,213,1) 0%,       rgba(53,37,175,1) 100%);
  border-radius: 20px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#logo{
  display: flex;
  justify-content: center;
}
#logo img{
  width: 390px;
  margin-top: -210px;
}
#logout{
  width: 3px;
  height: 3px;
  position: absolute;
  top: 0px;
  right: -18px;
}

#logout img{
  cursor: url('/static/img/puntero.png'),auto;
  animation: none;
  width: 70px;
  top: 14px;
  right: 0px;
  transition: 0.5s;
}
#logout img:hover{
  width: 74px;
}
#box-preg{
  width: 470px;
  height: 250px;
  margin: auto;
  margin-top: -60px;
  border-radius: 10px;
  border: none;
  background: white;
  position: relative;
}

#preg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0px;
  font-size: 23px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#preguntatext{
  width: 95%;
  height: 85%;
  position: relative;
}
#preguntatext h5{
  position: absolute;
  top: 30px;
}
#respuestas{
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn{
 padding: 17px;
 margin: 10px;
 width: 70%;
 border-radius: 10px;
 border: none;
 outline: 0;
 cursor: url('/static/img/puntero.png'),auto;
 font-size: 17px;
 font-weight: bold;
 background: rgb(255,114,119);
  background: linear-gradient(0deg, rgba(255,114,119,1) 0%, rgba(249,81,154,1) 100%);
  color: white;
}

.btn:hover{
  background: rgb(247,115,33);
  background: linear-gradient(0deg, rgba(247,115,33,1) 0%, rgba(250,208,91,1) 100%);
  color: white;
  transform: translateY(-3px);
  width: 90%;
}


[data-tooltip][data-tooltip-small] {
  width: 30%;
  cursor: pointer;
}
[data-tooltip][data-tooltip-small]:before,
[data-tooltip][data-tooltip-small]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
[data-tooltip][data-tooltip-small]:before {
  position: absolute;
  top: 75px;
  padding: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 10px;
  background: rgb(161,6,28);
  background: linear-gradient(0deg, rgba(161,6,28,1) 0%, rgba(244,80,94,1) 100%);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 17px;
  line-height: 1.2;
}

[data-tooltip][data-tooltip-small]:hover:before,
[data-tooltip][data-tooltip-small]:hover:after {
  visibility: visible;
  opacity: 1;
}

#timer{
  color: white;
  font-family: 'Poppins';
  font-size: 40px;
}
.time{
  width:130px;
  height:100px;
  background: rgb(193,106,213);
  background: linear-gradient(0deg, rgba(193,106,213,1) 0%,       rgba(53,37,175,1) 100%);
  position: absolute;
  top: 20%;
  right: -133px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: flex;
  align-items:center;
  justify-content:center;
}
.resultados{
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
}
.tick img{
  width: 50px;
}
.x img{
  width: 50px;
}
#ajustar{
  opacity: 0;
  height: 90px;
}
