@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
*{
  margin: 0;
  padding: 0;
  cursor: url('/static/img/cursor.png'),auto;
}
body{
  height:100vh;
  background: rgb(72,157,228);
  background: linear-gradient(0deg, rgba(72,157,228,1) 0%, rgba(13,222,235,1) 100%);
  background-position: center;
  font-family: "Poppins", Arial;
}
.main{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items:center;
}
#box{
  margin: 9% auto;
  padding: 5% 0 0;
  width: 530px;
  height: 480px;
  background: rgb(193,106,213);
  background: linear-gradient(0deg, rgba(193,106,213,1) 0%,       rgba(53,37,175,1) 100%);
  border-radius: 20px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#logo{
  display: flex;
  justify-content: center;
}
#logo img{
  width: 390px;
  margin-top: -210px;
}
#logout{
  width: 3px;
  height: 3px;
  position: absolute;
  top: 0px;
  right: -18px;
}

#logout img{
  cursor: url('/static/img/puntero.png'),auto;
  animation: none;
  width: 70px;
  top: 14px;
  right: 0px;
  transition: 0.5s;
}
#logout img:hover{
  width: 74px;
}
#usuario{
  margin-top:-30px;
  width: 100%;
  text-align: center;
}
#usuario h2{
  border-box: 10px;
  text-shadow: 2px 0 0 #FFD12B, -2px 0 0 #FFD12B, 0 2px 0 #FFD12B, 0 -2px 0 #FFD12B, 1px 1px #FFD12B, -1px -1px 0 #FFD12B, 1px -1px 0 #FFD12B, -1px 1px 0 #FFD12B;
  color: #FF5758;
  font-size: 35px;
  padding: 14px;
}
#usuario h1{
  font-size: 20px;
  color: white;
  margin-top: 5px;
}

#infou {
  margin-top: -5px;
  font-size: 22px;
  text-align: center;
}
#infou h5{
  color: white;
  font-size: 20px;
}
#infou span{
  color: #FFD12B;
}
.socials{
  width: 530px;
  height: 80px;
  margin-top: -160px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(255,114,119);
  background: linear-gradient(0deg, rgba(255,114,119,1) 0%, rgba(249,81,154,1) 100%);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.socials a{
  cursor: url('/static/img/puntero.png'),auto;
  padding: 50px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.socials a:hover{
  font-size: 18px;
}

.btn{
  text-align: center;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn a{
  cursor: url('/static/img/puntero.png'),auto;
  text-decoration: none;
  padding: 20px;
  width: 50%;
  margin: 10px;
  border-radius: 10px;
  font-family: "Poppins";
  font-size: 20px;
  color: white;
  border: 0px;
  background: rgb(255,114,119);
  background: linear-gradient(0deg, rgba(255,114,119,1) 0%, rgba(249,81,154,1) 100%);
}
.btn a:hover{
  background: rgb(247,115,33);
  background: linear-gradient(0deg, rgba(247,115,33,1) 0%, rgba(250,208,91,1) 100%);
  color: white;
  transform: translateY(-3px);
}
[data-tooltip] {
  width: 30%;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
[data-tooltip]:before {
  position: absolute;
  top: 75px;
  padding: 14px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 10px;
  background: rgb(161,6,28);
  background: linear-gradient(0deg, rgba(161,6,28,1) 0%, rgba(244,80,94,1) 100%);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 17px;
  line-height: 1.2;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

