{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Juego.css' %}">
</head>

<body>
	<div class="main">
  <div id="box">
     <div id="logo">
        <a target='_blank' align="center"><img src='https://i.postimg.cc/t4b0jRGc/logo2.png' border='0' alt='logo2'/></a>
       </div>
      <div id="box-preg">
      <div id="preg">
        <h5>{{preguntas.pregunta}}</h5>
        </div>
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}

        </div>
        {% endfor %}
        {% endif %}
    </div>
      <form id="respuestas" method="POST">{% csrf_token %}
      <input type="submit" class="btn" name="{{opcion1}}" value="{{opcion1}}">
      <input type="submit" class="btn" name="{{opcion2}}" value="{{opcion2}}">
      <input type="submit" class="btn" name="{{opcion3}}" value="{{opcion3}}">
      <input type="submit" class="btn" name="{{opcion4}}" value="{{opcion4}}">
    </div>
  

    </div>
  
   <div id="logout">
        <a href="{% url 'usuarios:logout'%}" align="center"><img src='https://i.postimg.cc/brTvr38K/Salir.png' border='0' alt='Logout'/></a>
     </div>
   </div>

</body>
</html>