{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Juego.css' %}">
</head>

<body>
	<div class="main">
  <div id="box">
     <div id="logo">
        <a target='_blank' align="center"><img src='https://i.postimg.cc/t4b0jRGc/logo2.png' border='0' alt='logo2'/></a>
       </div>
      <div id="box-preg">
      <div id="preg">
        <h3>{{preguntas.cat}}</h3>
        <div id="preguntatext">
          <h5>{{preguntas.pregunta}}</h5>
        </div>
        </div>
      
    </div>
      <form id="respuestas" method="POST">{% csrf_token %}
      <input type="submit" class="btn" name="{{opcion1}}" value="{{opcion1}}">
      <input type="submit" class="btn" name="{{opcion2}}" value="{{opcion2}}">
      <input type="submit" class="btn" name="{{opcion3}}" value="{{opcion3}}">
      <input type="submit" class="btn" name="{{opcion4}}" value="{{opcion4}}">
      <div class="resultados">
        {% for i in contestadas %}
            {% if i == True %}
            <div class="tick">
              <img src='https://i.postimg.cc/1zP64H8s/Tick.png' border='0' alt='Tick'/>
            </div>
            {% else %}
            <div class="x">
              <img src='https://i.postimg.cc/fbLdxbfr/X.png' border='0' alt='X'/>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    
    <div id="logout" data-tooltip="CERRAR SESIÓN" data-tooltip-small="true">
        <a href="{% url 'usuarios:logout'%}" align="center"><img src='https://i.postimg.cc/CzzWp3JY/Logout.png' border='0' alt='Logout'/></a>
     </div>
     <div class="time">
     <span id="timer"></span>
   </div>
  </div>
  <div id="ajustar">
    <h1>123</h1>
  </div>
</body>
<script>
  var count=20;

  var counter=setInterval(timer, 1000); 

  function timer(){
    count=count-1;
    if (count <= 0)
  {
     clearInterval(counter);
     document.getElementById("respuestas").submit();
     return;
  }
document.getElementById("timer").innerHTML="" + count + ""; 
}
</script>
</html> 
