{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Info.css' %}">
</head>

<body>
	<div id="box">
     <div id="logo">
        <a target='_blank' align="center"><img src='https://i.postimg.cc/t4b0jRGc/logo2.png' border='0' alt='logo2'/></a>
       </div>
      <div id="informacion">
          <h1>REGLAS</h1><br>
          <p>DEBERAS RESPONDER <scan>7</scan> PREGUNTAS ALEATORIAS, LAS CUALES CORRESPONDE A LAS CATEGORIAS: <scan>CULTURA Y ARTE, HISTORIA, DEPORTE, GEOGRAFÍA, ECONOMÍA, CIENCIAS Y EDUCACIÓN, Y ENTRETENIMIENTO</scan></p>
        </div>
      <div id="barra">
        </div>
        <form method="POST">{% csrf_token %}
    	     <input type="submit" class="btn" name="empezar" value="¡EMPEZAR!">
        </form>
    </div>
   <div id="logout">
        <a href="{% url 'usuarios:logout'%}" align="center"><img src='https://i.postimg.cc/brTvr38K/Salir.png' border='0' alt='Logout'/></a>
     </div>

</body>
</html>