{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Info.css' %}">
</head>

<body>
	<div id="box">
     <div id="logo">
        <a target='_blank' align="center"><img src="{% static 'img/logo2.png' %}" border='0' alt='logo2'/></a>
       </div>
      <div id="informacion">
          <h1>MODOS DE JUEGO</h1><br>
          </div>
        <form method="POST">{% csrf_token %}
            <div class="crisol" data-tooltip="DEBERAS CONTESTAR 7 PREGUNTAS, 1 POR CATEGORIA: CULTURA Y ARTE, HISTORIA, DEPORTE, GEOGRAFÍA, ECONOMÍA, CIENCIAS Y EDUCACIÓN, Y ENTRETENIMIENTO" data-tooltip-big="true">
    	     <input type="submit" id="btn" name="empezar" value="Crisol de Categorias">
            </div>
            <div class="categoria" data-tooltip="DEBERAS CONTESTAR 7 PREGUNTAS DE LA CATEGORIA QUE ELIJAS">
                <input type="submit" id="btn" name="categoria" value="Elegir Categoria">
                </div>
        </form>
    
   <div id="logout" data-tooltip="CERRAR SESIÓN" data-tooltip-small="true">
        <a href="{% url 'usuarios:logout'%}" align="center"><img src="{% static 'img/Logout.png' %}" border='0' alt='Logout'/></a>
    </div>
    <div id="atras" data-tooltip="ATRAS">
      <a href="{% url 'index'%}"><img src="{% static 'img/Atras.png' %}" border='0' alt='Atras'/></a>
    </div>
    <div id="texto">
        <h2>TENES 20 SEGUNDOS PARA RESPONDER</h2>
    </div>
 </div>

</body>
</html>