{% load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/noestadistica.css' %}">
</head>
<body>
	<div id="box">
     <div id="logo">
        <a target='_blank' align="center"><img src='https://i.postimg.cc/t4b0jRGc/logo2.png' border='0' alt='logo2'/></a>
       </div>
      <div id="informacion">
          <h1>NO HAY ESTADISTICAS QUE MOSTRAR</H>
        </div>
  <div id=>
      <div id="atras" data-tooltip="ATRAS">
      <a href="{% url 'index'%}"><img src='https://i.postimg.cc/J7vrrq0F/Atras.png' border='0' alt='Atras'/></a>
  </div>
</div>
      
</body>
</html>