{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Estadisticas.css' %}">
</head>

<body>
	<div class="main">
  <div id="box">
     <div id="logo">
        <a target='_blank' align="center"><img src="{% static 'img/logo2.png' %}" border='0' alt='logo2'/></a>
       </div>
      <div id="score">
          <h1>PUNTAJE:</h1>
          <h2>{{puntaje}}/100</h2>
        </div>
      <div id="estadisticas">
          <p>RESPUESTAS CORRECTAS: <scan>{{aciertos}}</scan></p>
          <p>RESPUESTAS INCORRECTAS: <scan>{{errores}}</scan></p>
          <div class="resultados">
            {% for i in contestadas %}
            {% if i == True %}
            <div class="tick">
              <img src="{% static 'img/Tick.png' %}" border='0' alt='Tick'/>
            </div>
            {% else %}
            <div class="x">
              <img src="{% static 'img/X.png' %}" border='0' alt='X'/>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
      <div id="btn">
          <a href="{% url 'juego:juego' %}">VOLVER A JUGAR</a>
          <!-- <a href="{% url 'index' %}">VOLVER AL INICIO</a> -->
        </div>
      
    <div id="logout" data-tooltip="CERRAR SESIÓN" data-tooltip-small="true">
        <a href="{% url 'usuarios:logout'%}" align="center"><img src="{% static 'img/Logout.png' %}" border='0' alt='Logout'/></a>
    </div>
    <div id="atras" data-tooltip="HOME">
      <a href="{% url 'index'%}"><img src="{% static 'img/Home.png' %}" border='0' alt='Atras'/></a>
    </div>
    </div>
   
</div>
</body>
</html>