{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/correo.css' %}">
</head>
<body>
	<div id="box">
     <div id="logo">
        <a target='_blank' align="center"><img src='https://i.postimg.cc/t4b0jRGc/logo2.png' border='0' alt='logo2'/></a>
       </div>
      <div id="informacion">
          <h1>GRACIAS POR REGISTRARTE</h1>
          <p>POR FAVOR REVISA TU CORREO PARA ACTIVAR TU CUENTA</p>
        </div>
  <div id="correos">
    <a href="https://mail.google.com/" target="_blank" data-tooltip="GMAIL"><img src="https://img.icons8.com/fluency/192/000000/gmail.png"/></a>
    <a href="https://www.office.com/" target="_blank" data-tooltip="OUTLOOK"><img src="https://img.icons8.com/color/192/000000/ms-outlook.png"/></a>
    <a href="https://mail.yahoo.com/" target="_blank" data-tooltip="YAHOO"><img src="https://img.icons8.com/doodle/192/000000/yahoo--v1.png"/></a>
    </div>
  </div>
</body>
</html>