{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Sesion.css' %}">
</head>

<body>
	<div id="box">
  <div id="logo">
      <img src="{% static 'img/logo2.png' %}" border='0' alt='logo2' id="logo">
      </div>
   <form id="login" class="input-group" method="post">{% csrf_token %}
  
      <input type="text" name="username" placeholder="USUARIO" class="input-field" required>
      <input type="password" name="password" placeholder="CONTRASEÑA" class="input-field">
      
      <div id="texto">
      {% if form.errors %}
        

      <div id='error'>
        {% for i in form.errors.values %}
          {{i}}
          {% endfor %}
      </div>
      {% endif %}
    </div>
      <button type="submit" class="btn">INICIAR SESION</button>
     <div id="pes">
      <p>OlVIDASTE TU CONTRASEÑA? <a href="{% url 'usuarios:recuperar' %}" onclick="register()"> RECUPERAR</a></p>
      <p>NO ESTAS REGISTRADO? <a href="{% url 'usuarios:register' %}" onclick="register()"> REGISTRATE</a></p>
       </div>
     </form>
  </div>
  {% if message %}
  {% for message in message %}
  <div class="alert alert- {{message.tags}}">
        {{message}}
  </div>
  {% endfor %}
 {% endif %}
</body>

</html>