{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Sesion.css' %}">
</head>

<body>
	<div id="box">
  <div id="logo">
      <img src='https://i.postimg.cc/t4b0jRGc/logo2.png' border='0' alt='logo2' id="logo">
      </div>
   <form id="login" class="input-group" method="post">{% csrf_token %}
  
      <input type="text" name="username" placeholder="USUARIO" class="input-field" required>
      <input type="password" name="password" placeholder="CONTRASEÑA" class="input-field">
      {{ form.non_field_errors }}
      <button type="submit" class="btn">INICIAR SESION</button>
     <div id="pes">
      <p>OlVIDASTE TU CONTRASEÑA? <a href="#register" onclick="register()"> RECUPERAR</a></p>
      <p>NO ESTAS REGISTRADO? <a href="{% url 'usuarios:register' %}" onclick="register()"> REGISTRATE</a></p>
       </div>
     </form>
  </div>

</body>
</html>