
{% extends "usuarios/base.html" %} 
{% load i18n static%} 
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}{% trans 'Documentation' %} / {% endif %}{% trans 'Change password' %} / {% trans 'Log out' %}{% endblock %} {% block breadcrumbs %}
<body>
<div id="box2">
	<div id="logo">
      <img src="{% static 'img/logo2.png' %}" border='0' alt='logo2' id="logo">
      </div>
<div id="invisible">
{% endblock %} {% block title %}{{ title }}{% endblock %} {% block content_title %}
{{ title }}
<br>
</div>
<div id="boton">
<a href="{% url 'usuarios:login'%}">INGRESAR</a>
</div>

{% endblock %} 

	
</div>

</body>


