
{% extends "usuarios/base.html" %}
{% load i18n static %}



<body2>
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/cambiocontra.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">

&rsaquo; {{"" }}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ "" }}</h1>{% endblock %}
{% block content %}

{% if validlink %}


<div id="box">
    <div id="logo">
      <img src="{% static 'img/logo2.png' %}" border='0' alt='logo2' id="logo">
      </div>
<form method="post" class="forma">{% csrf_token %}
<fieldset>
    <div class="contenedor">
    <div class="form-row field-password1">
       
        {% if form.new_password2.errors %}
        

      <div id='error'>
        {% for i in form.new_password2.errors %}
          {{i}}<br>
          {% endfor %}
      </div>
      {% endif %}

        <label for="id_new_password1">{% trans 'New password:' %}</label>
        <div id="texto1">
        {{ form.new_password1 }}
        </div>
    
</div>
    <div class="form-row field-password2">
        
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        <div id="texto2">
        {{ form.new_password2 }}
        </div>
    </div>
    <div class="btn">
    <input type="submit" value="{% trans 'Change my password' %}">
    </div>
</div>
</fieldset>
</form>
</div>
</body2>
{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}

