{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="{% static 'css/Registro.css' %}"></link>
</head>

<body>

    
	<div id="box">
  <div id="logo">
      <img src='https://i.postimg.cc/t4b0jRGc/logo2.png' border='0' alt='logo2' id="logo">
      </div>
   <form id="login" method="POST" class="input-group"> {% csrf_token %}
    {{form.errors}}
   
    <div id="Texto">
      {{form.username}}
    
      {{form.email}}

      {{form.password1}}

      {{form.password2}}
    </div>

    {{ form.non_field_errors }}

      <button type="submit" class="btn">REGISTRARSE</button>

     <div id="pes">
      <p>YA TENES CUENTA? <a href="{% url 'usuarios:login'%}" onclick="register()">INGRESA</a></p>
       </div>
     </form>

     {% if message %}
     {% for message in message %}
     <div class="alert alert- {{message.tags}}">
           {{message}}
     </div>
     {% endfor %}
    {% endif %}
</div>

</body>
</html>